# Podstawowa obróbka danych
pandas
numpy

# Uczenie Maszynowe i Metryki
scikit-learn
xgboost
joblib

# Redukcja wymiarowości i Klastrowanie
umap-learn
hdbscan

# Wizualizacja danych
matplotlib
seaborn
scipy